{% extends 'base.html' %}
{% load static %}
{% block title %}{{ view.object.pk|yesno:"Редактирование типа техники,Создание типа техники" }}{% endblock %}
{% block headblock %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vehicle/css/forms.css' %}">
{% endblock %}

{% block content %}
  <h2>{{ view.object.pk|yesno:"Редактирование типа техники,Создание типа техники" }}</h2>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if object.pk %}
      <div class="form-group mt-3">
        <label>Дата создания</label>
        <input type="text" class="form-control bg-light" value="{{ object.created_at }}" readonly>
      </div>

      <div class="form-group mt-3">
        <label>Дата обновления</label>
        <input type="text" class="form-control bg-light" value="{{ object.updated_at }}" readonly>
      </div>

      <div class="form-group mt-3">
        <label>Удалено</label><br>
        {% if object.is_deleted %}
          <span class="form-control bg-light">✔</span>
        {% else %}
          <span class="form-control bg-light">✘</span>
        {% endif %}
      </div>
    {% endif %}
    <button type="submit" class="btn btn-success">Сохранить</button>
    <a href="{% url 'vehicle:vehicle_types' %}" class="btn btn-secondary">Назад</a>
  </form>
{% endblock %}
