{% extends 'base.html' %}
{% load static %}
{% block title %}{{ view.object.pk|default:"Создание техники" }}{% endblock %}

{% block content %}
  <h2>{{ view.object.pk|yesno:"Редактирование техники,Создание техники" }}</h2>

 <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <h4>Текущие фотографии</h4>
    <div class="row mb-3">
      {% with images=object.images.all %}
        {% if images %}
          {% for image in images %}
            {% if not image.is_deleted %}
              <div class="col-md-2">
                  <div class="img-wrapper">
                    <img src="{{ image.file.url }}" class="img-thumbnail mb-2">
                    <button type="submit"
                            name="delete_image_id"
                            value="{{ image.id }}"
                            class="delete-form"
                            onclick="return confirm('Удалить фото?');">
                      &#10004;
                    </button>
                  </div>
                </div>
            {% endif %}
          {% endfor %}
        {% else %}
          <p class="ml-3">Нет текущих фото</p>
        {% endif %}
      {% endwith %}
    </div>

    <h4>Добавить новые фото</h4>
    <input type="file" name="file" multiple class="form-control mb-3">
    <input type="file" name="file" multiple class="form-control mb-3">
    <input type="file" name="file" multiple class="form-control mb-3">
    <button type="submit" class="btn btn-success">Сохранить</button>
    <a href="{% url 'vehicles' %}" class="btn btn-secondary">Назад</a>
  </form>
{% endblock %}
